{% extends 'main.html' %}

{% block content %}
<div class="ecommerce-site">
  <img class="sign-out-squre-light" src="../assets/vectors/sign_out_squre_light_4_x2.svg" />
  <img class="trolly" src="../assets/vectors/trolly_3_x2.svg" />
  <img class="wallet" src="../assets/vectors/wallet_2_x2.svg" />
  <div class="coffee-shop-logo-whithout-background-1">
  </div>
  <div class="menu-3">
    <div class="vector-7">
    </div>
    <div class="vector-8">
    </div>
    <div class="vector-9">
    </div>
  </div>
  <div class="navigation">
    <div class="items">
      <img class="sign-out-squre-light" src="../assets/vectors/sign_out_squre_light_4_x2.svg" />
      <img class="trolly" src="../assets/vectors/trolly_3_x2.svg" />
      <img class="wallet" src="../assets/vectors/wallet_2_x2.svg" />
    </div>
    <div class="coffee-shop-logo-whithout-background-1">
    </div>
    <div class="button-1">
      <div class="menu-3">
        <div class="vector-7">
        </div>
        <div class="vector-8">
        </div>
        <div class="vector-9">
        </div>
      </div>
    </div>
  </div>
  <div class="container-10">
  کافه کلاسیک
  </div>
  <span class="container-12">
  جهت دیدن محصولات&gt;
  </span>
  <div class="button">
    <span class="container-12">
    جهت دیدن محصولات&gt;
    </span>
  </div>
  <div class="header-with-image">
    <div class="container-10">
    کافه کلاسیک
    </div>
    <div class="copy-7">
      <div class="button">
        <span class="container-12">
        جهت دیدن محصولات&gt;
        </span>
      </div>
    </div>
  </div>
  <div class="container-9">
  محصولات پیشنهادی
  </div>
  <div>
    <div class="image-3">
    </div>
    <div class="product-2">
    Product 
    </div>
    <div class="description-of-first-product">
    Description of first product
    </div>
    <span class="container-5">
    $10.99
    </span>
    <div class="image-4">
    </div>
    <div class="product-3">
    Product
    </div>
    <div class="description-of-second-product">
    Description of second product
    </div>
    <span class="container-6">
    $10.99
    </span>
    <div class="image-5">
    </div>
    <div class="product-4">
    Product
    </div>
    <div class="description-of-third-product">
    Description of third product
    </div>
    <span class="container-7">
    $10.99
    </span>
    <div class="image-6">
    </div>
    <div class="product-5">
    Product
    </div>
    <div class="description-of-fourth-product">
    Description of fourth product
    </div>
    <span class="container-8">
    $10.99
    </span>
  </div>
  <div class="container-4">
  پرفروش ها
  </div>
  <div>
    <div class="image-1">
    </div>
    <div class="product-1">
    Product
    </div>
    <div class="description-of-lower-product">
    Description of lower product
    </div>
    <span class="container-1">
    $10.99
    </span>
    <div class="image">
    </div>
    <div class="product">
    Product 
    </div>
    <div class="description-of-top-product">
    Description of top product
    </div>
    <span class="container">
    $10.99
    </span>
    <div class="image-7">
    </div>
    <div class="product-6">
    Product
    </div>
    <div class="description-of-lower-product-1">
    Description of lower product
    </div>
    <span class="container-13">
    $10.99
    </span>
    <div class="image-2">
    </div>
  </div>
  <div>
    <div class="container-2">
    درباره ما
    </div>
    <span class="container-3">
    کافه کلاسیک در سال 1403 در جهت تامین کافه با کیفیت برای دانشجویان در خیابان آزادی تاسیس شد
    </span>
  </div>
  
  <div class="coffee-shop-logo-whithout-background-2">
  </div>
  <img class="union" src="../assets/vectors/union_x2.svg" />
  <img class="union-1" src="../assets/vectors/union_2_x2.svg" />
  <img class="icon" src="../assets/vectors/icon_13_x2.svg" />
  <img class="icon-1" src="../assets/vectors/icon_16_x2.svg" />
  <img class="icon-2" src="../assets/vectors/icon_5_x2.svg" />
  <img class="icon-3" src="../assets/vectors/icon_10_x2.svg" />
  <div class="navigation-footer">
    <div class="divider">
    </div>
    <div class="container">
      <div class="coffee-shop-logo-whithout-background-2">
      </div>
      <div class="items-1">
        <img class="union" src="../assets/vectors/union_x2.svg" />
        <img class="union-1" src="../assets/vectors/union_2_x2.svg" />
      </div>
    </div>
    <div class="social-icons">
      <div class="buttons-icon">
        <img class="icon" src="../assets/vectors/icon_13_x2.svg" />
      </div>
      <div class="buttons-icon-1">
        <img class="icon-1" src="../assets/vectors/icon_16_x2.svg" />
      </div>
      <div class="buttons-icon-2">
        <img class="icon-2" src="../assets/vectors/icon_5_x2.svg" />
      </div>
      <div class="buttons-icon-3">
        <img class="icon-3" src="../assets/vectors/icon_10_x2.svg" />
      </div>
    </div>
  </div>
  <div class="shop">
    <div class="navigation">
      <div class="items">
        <img class="sign-out-squre-light" src="../assets/vectors/sign_out_squre_light_4_x2.svg" />
        <img class="trolly" src="../assets/vectors/trolly_3_x2.svg" />
        <img class="wallet" src="../assets/vectors/wallet_2_x2.svg" />
      </div>
      <div class="coffee-shop-logo-whithout-background-1">
      </div>
      <div class="button-1">
        <div class="menu-3">
          <div class="vector-7">
          </div>
          <div class="vector-8">
          </div>
          <div class="vector-9">
          </div>
        </div>
      </div>
    </div>
    <div class="header-with-image">
      <div class="container-10">
      کافه کلاسیک
      </div>
      <div class="copy-7">
        <div class="button">
          <span class="container-12">
          جهت دیدن محصولات&gt;
          </span>
        </div>
      </div>
    </div>
    <div class="container-9">
    محصولات پیشنهادی
    </div>
    <div class="card-grid">
      <div class="card-2">
        <div class="image-3">
        </div>
        <div class="copy-3">
          <div class="product-2">
          Product 
          </div>
          <div class="description-of-first-product">
          Description of first product
          </div>
          <span class="container-5">
          $10.99
          </span>
        </div>
      </div>
      <div class="card-3">
        <div class="image-4">
        </div>
        <div class="copy-4">
          <div class="product-3">
          Product
          </div>
          <div class="description-of-second-product">
          Description of second product
          </div>
          <span class="container-6">
          $10.99
          </span>
        </div>
      </div>
      <div class="card-4">
        <div class="image-5">
        </div>
        <div class="copy-5">
          <div class="product-4">
          Product
          </div>
          <div class="description-of-third-product">
          Description of third product
          </div>
          <span class="container-7">
          $10.99
          </span>
        </div>
      </div>
      <div class="card-5">
        <div class="image-6">
        </div>
        <div class="copy-6">
          <div class="product-5">
          Product
          </div>
          <div class="description-of-fourth-product">
          Description of fourth product
          </div>
          <span class="container-8">
          $10.99
          </span>
        </div>
      </div>
    </div>
    <div class="container-4">
    پرفروش ها
    </div>
    <div class="card-list">
      <div class="card-1">
        <div class="image-1">
        </div>
        <div class="copy-1">
          <div class="product-1">
          Product
          </div>
          <div class="description-of-lower-product">
          Description of lower product
          </div>
          <span class="container-1">
          $10.99
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
        </div>
        <div class="copy">
          <div class="product">
          Product 
          </div>
          <div class="description-of-top-product">
          Description of top product
          </div>
          <span class="container">
          $10.99
          </span>
        </div>
      </div>
      <div class="card-6">
        <div class="image-7">
        </div>
        <div class="copy-8">
          <div class="product-6">
          Product
          </div>
          <div class="description-of-lower-product-1">
          Description of lower product
          </div>
          <span class="container-13">
          $10.99
          </span>
        </div>
      </div>
    </div>
    <div class="card-big">
      <div class="image-2">
      </div>
      <div class="copy-2">
        <div class="container-2">
        درباره ما
        </div>
        <span class="container-3">
        کافه کلاسیک در سال 1403 در جهت تامین کافه با کیفیت برای دانشجویان در خیابان آزادی تاسیس شد
        </span>
      </div>
    </div>
    <div class="navigation-footer">
      <div class="divider">
      </div>
      <div class="container">
        <div class="coffee-shop-logo-whithout-background-2">
        </div>
        <div class="items-1">
          <img class="union" src="../assets/vectors/union_x2.svg" />
          <img class="union-1" src="../assets/vectors/union_2_x2.svg" />
        </div>
      </div>
      <div class="social-icons">
        <div class="buttons-icon">
          <img class="icon" src="../assets/vectors/icon_13_x2.svg" />
        </div>
        <div class="buttons-icon-1">
          <img class="icon-1" src="../assets/vectors/icon_16_x2.svg" />
        </div>
        <div class="buttons-icon-2">
          <img class="icon-2" src="../assets/vectors/icon_5_x2.svg" />
        </div>
        <div class="buttons-icon-3">
          <img class="icon-3" src="../assets/vectors/icon_10_x2.svg" />
        </div>
      </div>
    </div>
  </div>
  <span class="container-11">
  لذت قهوه خوب با کافه کلاسیک
  </span>
</div>
{% endblock content %}
