{% extends 'main.html' %}

{% block content %}

<div>
  {% for product in products %}
    <div class="image-1">
      {{product.avatar }}
    </div>
    <div class="product-1">
      {{product.name}}
    </div>
    
    <span class="container-1">
    هزار تومان{{product.price}}
    </span>

    <a class="buy-now-button" href="{% url 'coffeapp:add_to_cart' product_id=product.id %}">Add to Cart</a>
  
  {% endfor %}
</div>
<div>
  <h3>فیلتر ها</h3>
  <hr>
  <div>
    {% comment %} {% for product in products %}
    {% if product.vertical not in displayed_verticals %}
        <div>{{ product.vertical }}</div>
        {% set displayed_verticals = displayed_verticals|merge({product.vertical: true}) %}
    {% endif %}
{% endfor %} {% endcomment %}
    {%for product in products%}
    <li>
      <a href="{% url 'coffeapp:products-page' %}?q{{product.vertical}}">{{product.vertical}}</a>

      






    </li>
      {% endfor %}
    {% comment %} {% for price in product_prices %}
    <div>
      {{price}}



    </div>
    {% endfor %}
  </div> {% endcomment %}
</div>
{% endblock content%}
