{% extends "main.html" %}
{% block content %}
<div class="sign-up-page">
  <div class="coffee-shop-logo-whithout-background-2">
  </div>
  <div class="text">
    <div class="sign-up">
    Sign up
    </div>
    <span class="to-taste-real-coffee-sign-up">
    To Taste Real Coffee, Sign Up!
    </span>
  </div>
  <div class="form">
    <div class="input">
      <p class="jonas-khanwald">
      <span class="jonas-khanwald-sub-0" href="mailto:jonas_kahnwald@gmail.com"></span><span></span>
      </p>
      <div class="label">
        <span class="name">
        Name
        </span>
      </div>
    </div>
    <div class="input-1">
      <span class="jonas-k">
      Jonas_K
      </span>
      <div class="label-1">
        <span class="username">
        Username
        </span>
      </div>
    </div>
    <div class="input-2">
      <div class="container">
        <span class="jonas-kahnwaldgmail-com">
        jonas_kahnwald@gmail.com
        </span>
        <span class="container">
        |
        </span>
      </div>
      <div class="label-2">
        <span class="email">
        Email
        </span>
      </div>
    </div>
    <div class="input-3">
      <span class="password">
      Password
      </span>
      <div class="eye-off">
        <img class="icon" src="../assets/vectors/icon_4_x2.svg" />
      </div>
    </div>
    <div class="input-4">
      <span class="container-1">
      +98 9123456789
      </span>
      <div class="label-3">
        <span class="phone-number">
        Phone Number
        </span>
      </div>
    </div>
    <div class="button">
      <span class="sign-up-1">
      Sign up
      </span>
    </div>
  </div>
  <p class="already-have-an-account-sign-in">
  <span class="already-have-an-account-sign-in-sub-0"></span><span></span>
  </p>
</div>
{% endblock content %}
    
