{% load static %}
<header>
  <div class="navigation">
    <div class="items">
      {% if request.user.is_authenticated %}
      <img class="sign-out-squre-light" src="../assets/vectors/sign_out_squre_light_4_x2.svg" alt="Sign Out Button" />
      <img class="trolly" src="../assets/vectors/trolly_3_x2.svg" alt="Shoping Cart Button "/>
      <img class="wallet" src="../assets/vectors/wallet_2_x2.svg" alt="Recent Purchases Button" />
      {% else %}
      <img class="sign-in " src="../assets/vectors/sign_out_squre_light_4_x2.svg" alt="Sign in Button">
      {% endif %}
    </div>
    <div class="coffee-shop-logo-whithout-background-1">
    </div>
    <div class="button-1">
      <div class="menu-3">
        <div class="vector-7">
        </div>
        <div class="vector-8">
        </div>
        <div class="vector-9">
        </div>
      </div>
    </div>
  </div>
</header>